body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1 {
  font-size: 28px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(44, 29, 0, 0.9);
}

a {
  text-decoration: none;
  color: rgb(95, 62, 0);
}

ul {
  margin-top: 5%;
  padding-inline-start: 0rem;
}

ul i {
  font-size: 30px;
  padding: 0 8px;
}

.subtitle {
  text-align: center;
  padding: 5% 0 1%;
}

.menu {
  background-color: rgb(255, 240, 221);
  float: left;
}

.header {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile_image {
  float: left;
  margin-inline-start: 0px;
  margin-inline-end: 60px;
}

.profile_image img {
  border-radius: 50%;
  max-width: 100%;
}

.right-text {
  float: right;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: baseline;
}

.social {
  font-size: 30px;
}

.top-block {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/code4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-block, .top-block {
  background-color: rgb(255, 246, 235);
}

.text-block {
  margin: 2% 25%;
}

.projects-block, .top-block, .path-block {
  min-height: 90vh;
  padding: 4% 0%;
}

.path-block, .bottom-block {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.bottom-block {
  min-height: 98vh;
  padding-top: 2%;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.section-arrow {
  
  font-size: 36px;
  bottom: 0px;
}

@media (max-width: 1061px) {
  .top-block, .path-block, .projects-block, .bottom-block {
    min-height: 98vh;
  }
  
  .header, .contact {
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
  }

  .profile_image {
    text-align: center;
    float: none;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
  }

  .profile_image img {
    max-width: 70%;

  }
  
  .text-block {
    margin: 2% 10%;
  }
}

@media (max-width: 720px) {
  .contact {
    align-items: flex-start;
    flex-direction: column;
    padding: 0 5rem;
  }
}

@media (max-width: 406px) {
  .contact {
    padding: 0 1.5rem;
  }
}